@model BookListMVC.Model.Book
@{
    ViewData["Title"] = "Upsert";
}
<br />
<h3>@(Model.Id != 0 ? "Edit" : "Create") Book</h3>
<br />

<div class="border container" style="padding:30px">
    <form method="post" asp-action="Upsert">
        <div asp-validation-summery="ModelOnly" class="text-danger"></div>
        @if (Model.Id != 0)
        {
            <input type="hidden" asp-for="@Model.Id" />
        }
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="@Model.Name"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="@Model.Name" placeholder="Book Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="@Model.Author"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="@Model.Author" placeholder="Author Name" class="form-control" />
                <span asp-validation-for="@Model.Author" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="@Model.ISBN"></label>
            </div>
            <div class="col-md-6">
                <input asp-for="@Model.ISBN" placeholder="ISBN" class="form-control" />
                <span asp-validation-for="@Model.ISBN" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 offset-md-3">
                <button type="submit" asp-action="Upsert" class="btn btn-primary form-control">@(Model.Id != 0 ? "Update" : "Create")</button>
            </div>
            <div class="col-md-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}

